<label for="filterByCity" class="screen-reader">Filter By City</label>
{{input
  id="filterByCity"
  value=this.value
  key-up=(action "handleFilterEntry")
  class="light"
  placeholder="Filter By City"
}}
{{yield this.results}}
