<label for="filterByCity" class="screen-reader">Filter By City</label>
<input type="text" id="filterByCity" value={{value}} onkeyup={{action "handleFilterEntry" value="target.value"}} class="light" placeholder="Filter By City" aria-autocomplete="inline" aria-expanded="true">

{{yield results}}
