{{#list-filter
   filter=(action 'filterByCity')
   as |filteredResults|}}

  <ul id="rental-list" class="results" role="listbox">
    {{#each filteredResults as |rentalUnit|}}
      <li role="option" tabindex="0">{{rental-listing rental=rentalUnit}}</li>
    {{/each}}
  </ul>
{{/list-filter}}
