<ListFilter role="search" @filter={{action "filterByCity"}} as |filteredResults|>
  <span class="screen-reader" role="status">{{filteredResults.length}} results found</span>
  <ul class="results">
    {{#each filteredResults as |rentalUnit|}}
      <li><RentalListing @rental={{rentalUnit}} /></li>
    {{/each}}
  </ul>
</ListFilter>
