<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.
<br/><br/>

{{#list-filter
   filter=(action 'filterByCity')
   as |rentals|}}
  <ul>
    {{#each rentals as |rentalUnit|}}
      {{rental-listing rental=rentalUnit}}
    {{/each}}
  </ul>
{{/list-filter}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
